.row,
.column {
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  height: 100px;
}

#submitButton {
  padding-top: 20px;
  margin-top: 50px;
  justify-content: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}